# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

# Change these settings to your own preference
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space
max_line_length = 120

[{*.json,*.css,*.less,*.sass,*.config}]
indent_size = 2

[{*.conf,*.yaml,*.yml}]
indent_size = 2
ij_yaml_spaces_within_braces = false
ij_yaml_spaces_within_brackets = false

[*.md]
indent_size = 2
trim_trailing_whitespace = false
