name: "NPM Publish"

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo:7.0
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      # Skip post-install scripts here, as a malicious
      # script could steal NODE_AUTH_TOKEN.
      - name: Install NPM dependencies
        run: npm install --ignore-scripts

      - name: Run linting
        run: npm run lint

      - name: Run tests
        run: npm run test-ci

  publish-npm:
    name: NPM Publish
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      # Skip post-install scripts here, as a malicious
      # script could steal NODE_AUTH_TOKEN.
      - name: Install NPM dependencies
        run: npm install --ignore-scripts --production

      - name: Run NPM publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN_SYNATIC}}
  docs:
    name: Build and Publish Docs
    needs: publish-npm
    uses: ./.github/workflows/ci-docs.yml
